*{
	margin: 0;
	padding: 0;

}
.clear-fix{
	clear: both;
}
.container{
    margin-top: 30px;
}

.navbar{
	background-color: #375B6D;
	margin-bottom: 0px;
	border:none;
	border-radius: 0;
}
.navbar-toggle{
	margin-right: 50px;
}
.navbar-default .navbar-brand{
	color: #ffffff;
	background-color: #2b86b3;
}

.navbar-default .navbar-nav>li>a:hover{
	background-color: #2b86b3;
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}


.search-area{
	margin-top: 100px;
	margin-bottom: 30px;
}
.search-area-btn{
	margin-top: 22px;
}
.search-area-btn .btn-default{
	color:#ffffff;
	border-color: #375B6D;
	border-radius: 0;
	background-color:  #2b86b3;
}
.search-area-control{
	padding-left: 0px;
	padding-right: 0px;
}
.search-area-control>input{
	border-radius: 0;
}
.search-area-control>select{
	border-radius: 0;
}
.mycontainer{
	padding-top: 50px;
	padding-bottom: 100px;
}
.wrapper{
	background-image: url( "image/Mirage.jpg");
	background-size: cover;
}
.search-area-control label{
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 400;
}
.search-area-control>.btn-danger{
    border-radius: 0px;
	background-color: #2b86b3;
	border-color:  #375B6D;
	height:41px;
}
.search-area-control>.btn-danger:focus{
	background: #2b86b3;
	border-color:  #375B6D;
}
.slogan-top,.slogan-bottom{
	text-align: center;
}
.slogan-top span{
	font-weight: 500;
	font-size: 25px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.slogan-bottom span{
	font-weight: 500;
	font-size: 15px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.search-area-control>input,select{
	font-size: 13px;
	font-weight: 500;
}
.search-area-control>input,select:focus{
	box-shadow: none;
	height: 38px;

}

.developer{
	font-size: 15px;
	font-weight:600;
	color: #4c4b4b;
	text-align: justify;
}
.developer-contact{
    padding-left: 30px;
    margin-top: 40px;
    box-shadow: 0 2px 10px 0 rgba(19, 16, 16, 0.16);
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.developer-name{
	font-size: 25px;
}
.developer-contact-detail{
	font-size: 18px;
	color: #5A5959;
}


.bus-detail{
	margin-left: 30px;
	margin-right: 30px;
}

.bus-details-table{
	margin-left: 30px;
	margin-right: 30px;
}

#editbusdetail .modal-footer{
	text-align: left;
	border: none;
	padding-left: 0px;
	padding-top: 5px;
}




.add-bus-detail{
	margin-top: 60px;
	margin-left: 60px;
}
.route-btn .btn-primary{
	margin-top:15px;
}
.bus-trip-schedule{
	padding-top: 50px;
}
.bus-schedule{
	margin-left: 20px;
	margin-right: 70px;
    margin-top: 50px;
}


.schedule-form>.ui.fluid.dropdown {
	width: 60px;
}
.form-control.ui.fluid.dropdown.selection {
    border-radius: 0px;
}
.payment-method{
	width: 50%;
	margin:  0 auto;
}


















