.center{
  width: 100%;
  float: none;
  margin: 20px auto;
}
.pForm {
    margin-top: 10px;
    border: solid 1px;
    border-color: #bfbfbf;
    border-radius: 4px;
    box-shadow: 1px 1px #bfbfbf;
}
.form-group{
  /* padding:0px 20px; */
  padding:0px 50px;

}
#reservationInfoPanel,#btnGroup{
  padding: 0px;
}
#reservationDetails{
  box-shadow: 1px 1px #bfbfbf;
}
h3{
  /* color:red; */
  border-bottom: solid 1px #bfbfbf;
}
/* .inputWarning{
  border:1px solid #f00;
} */
#passengerFormHeader {
    padding: 5px;
    background-color: rgba(51, 122, 183, 1);
    color: rgba(236, 238, 243, 1);
    border: solid 1px;
    border-color: #bfbfbf;
    border-radius: 4px;
    box-shadow: 1px 1px #bfbfbf;
}
.form-group-padding-none{
  padding: 0px;
}